.imgLink {
  text-decoration: none;
  color: white;
}

.authDiv {
  display: flex;
  /* border: 2px solid rgb(240, 21, 240); */
  width: 50%;
  justify-content: space-around;
}

.authButton {
  background-color: white;
  color: rgb(51, 51, 236);
  text-align: center;
  padding: 2%;
  height: 32px;
}

.authLink {
  /* height: 20%; */
  background-color: #edefed; /* Green */
  border: none;
  color: rgb(35, 87, 245);
  padding: 8px;
  text-align: center;
  margin-top: -50px;
  text-decoration: none;

  font-size: 15px;
}
.uniqueButton {
  /* height: 20%; */
  background-color: #004cb8;

  border: 1px solid rgb(249, 243, 243);
  color: rgb(241, 239, 239);
  padding: 8px;
  text-align: center;

  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.navRow2{
    display: flex;
   text-decoration: none;
   justify-content: center;
    color: white;
    padding: 12px;
    border-radius: 20px;
    margin: auto;
    gap: 3px;
     
    /* border: 2px solid red;  */
    /* font-weight: bold; */
     
}

.navRow2:hover{
    background-color: #599af5;
}

.navRow2One{
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: center;
      border: 1px solid white;  
     padding: 12px;
     border-radius: 20px;
     gap: 3px;    
}
 
.iconsStyles1{
  width: 22px;
  height: 22px;
  /* border: 1px solid rgb(236, 17, 17); */
}
.iconsStyles{
    width: 25px;
    height: 22px;
}

 .smallScreen{
  display: none;
 }

 .navRow2s{
  text-decoration: none;
  justify-content: center;
   color: black;
   padding: 12px;
   border-radius: 20px;
   margin: auto;
   gap: 3px;
 }

/* mobile..... */

@media only screen and (max-width: 650px){
  .stackBox{
    display: none;
  }
  .smallScreen{
    display: flex;
   }
 
}


@media only screen and (max-width: 855px) {
 
  .stackBox{
    display: none;
  }
  .smallScreen{
    display: flex;
   }
}

/* colorScheme='teal' variant='outline' */
/* .main{

    width: 98.7vw ;
    margin-left: -8px ;
    margin-top: -8px ;
    overflow-y: hidden;
    --bui_color_black: #000;
    --bui_color_white: #fff;
    --bui_color_border: #949494;
    --bui_color_border_alt: #e7e7e7;
    --bui_color_accent_border: #febb02;
    --bui_color_action_border: #0071c2;
    --bui_color_callout_border: #ff8000;
    --bui_color_border_disabled: #d9d9d9;
    --bui_color_destructive_border: #c00;
    --bui_color_constructive_border: #008009;
    --bui_color_background: #494949;
    --bui_color_transparent: transparent;
    --bui_color_background_alt: #f2f2f2;
    --bui_color_cta_background: #0071c2;
    --bui_color_background_base: #fff;
    --bui_color_black_with_alpha: rgba(0,0,0,0.5);
    --bui_color_accent_background: #febb02;
    --bui_color_action_background: #0071c2;
    --bui_color_callout_background: #ff8000;
    --bui_color_background_base_alt: #f2f2f2;
    --bui_color_background_disabled: #d9d9d9;
    --bui_color_background_inverted: #171717;
    --bui_color_accent_background_alt: #fdf4d8;
    --bui_color_action_background_alt: #e4f4ff;
    --bui_color_callout_background_alt: #fff0e0;
    --bui_color_destructive_background: #c00;
    --bui_color_background_disabled_alt: #f2f2f2;
    --bui_color_constructive_background: #008009;
    --bui_color_brand_primary_background: #003580;
    --bui_color_destructive_background_alt: #fff0f0;
    --bui_color_constructive_background_alt: #e7fde9;
    --bui_color_brand_genius_primary_background: #004cb8;
    --bui_color_foreground: #262626;
    --bui_color_foreground_alt: #6b6b6b;
    --bui_color_accent_foreground: #8e6601;
    --bui_color_action_foreground: #0071c2;
    --bui_color_callout_foreground: #923e01;
    --bui_color_foreground_disabled: #949494;
    --bui_color_foreground_inverted: #f2f2f2;
    --bui_color_destructive_foreground: #c00;
    --bui_color_constructive_foreground: #008009;
    --bui_color_foreground_disabled_alt: #d9d9d9;
    --bui_color_brand_primary_foreground: #003580;
    --bui_color_action_foreground_inverted: #3daeff;
    --bui_color_brand_genius_secondary_foreground: #febb02;
    --bui_color_highlighted: #cbcbcb;
    --bui_color_action_focus: rgba(0,113,194,0.24);
    --bui_color_cta_highlighted: #00487a;
    --bui_color_highlighted_alt: rgba(0,0,0,0.06);
    --bui_color_destructive_focus: rgba(204,0,0,0.24);
}
  */
