html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.image_icon {
  color: rgb(236, 55, 0);
  opacity: .5;
}

.image_icon:hover {
  cursor: pointer;
  font-size: 24.2px;
}

.date_picker{
  width: 100%;
  height: 100%;
}

.rs-picker-toggle{
  height: 100%;
}

.authlinks {
  width: 60px;
  height: 40px;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 3px;
}

/* .slide-container{
  border: 3px solid yellow;
} */

/* .slidingCont{
  border: 3px solid rgb(218, 22, 229);
} */

 
  /* @media all and (min-width: 401px) and (max-width: 750px){
  .each-slide{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 4%;
  }
  .Home_Featured_Brands_Item1 div:last-child{
      position: relative;
      font-size: 80%;
  }

  .Home_carousel_item_Third1{
      margin-bottom: 10%;
  }
}


@media all and (min-width: 280px) and (max-width: 400px){
  .each-slide{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 4%;
      padding-bottom: 5%;
      margin-bottom: 8%;
  }
  .Home_Featured_Brands_Item1 div:last-child{
      font-size: 50%;
  }
}   */